.left-header {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
padding: 0px 0px 0px 10px;
}
.right-header {
  width: 100px;
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  
  .notification-container{
    
  }

  .profile-container{

  }
}
